body {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #fff;
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.showcase-container {
    padding-top: 10px;
}

a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.price-toggle {
    text-align: center;
    margin-top: 15px;
}

.sci {
    width: 200px;
    height: 325px;
    border-radius: 7px;
    border: 1px solid #CCC;
    margin: 60px 12px 0px 12px;
    float: left;
    text-align: center;
    overflow: hidden;
}

.sci-cont {
    height:290px;
    width:200px;
    overflow:hidden;
}

.sci-cover{    
    border-radius:14px;
    border:1px solid #CCC;
    width:180px;
    height:150px;
    overflow:hidden;
    margin: 9px;
}

.sci-cover img {
    width:180px;
    height:150px;
    border:0;
}

.sci-title {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #025287;
    font-size:18px;
    font-weight:600;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0px;
}

.sci-subtitle {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #000;
    font-size:12px;
    font-weight: normal;
    margin: 0;
    padding:0;
    text-transform:none;
}

.sci-desc {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #025287;
    font-size:10px;
    margin-top:5px;
}

.sci-btn {
    background-color:#025287;
    padding:5px;
    color:#fff;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    text-transform: uppercase;
    display: block;
}